<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" style="margin-right:3%; font-size:45px" ><b>Novodhi</b></a>
  <ul class="navbar-nav">
    <li class="nav-item" style="background-color:red"  >
      <a class="nav-link" style="color:black; font-size:20px"  routerLink="/clickevent">Demo</a>
    </li>
    <li class="nav-item" style="background-color:green" >
      <a class="nav-link" style="color:black; font-size:20px" routerLink="/calender">Calender</a>
    </li>
    <li class="nav-item" style="background-color:pink" >
      <a class="nav-link" style="color:black; font-size:20px" routerLink="/data-show-table">Table</a>
    </li>
    <li class="nav-item" style="background-color:blue" >
      <a class="nav-link" style="color:black; font-size:20px" routerLink="/login">Login</a>
    </li>
    <li class="nav-item" style="background-color:rgb(114, 216, 230);" >
      <a class="nav-link" style="color:black; font-size:20px" routerLink="/reg-form">Reg</a>
    </li>
    <li class="nav-item" style="background-color:yellow" >
      <a class="nav-link" style="color:black; font-size:20px" routerLink="/todo-crash-code">Todo</a>
    </li>
    <li class="nav-item" style="background-color:orange" >
      <a class="nav-link" style="color:black; font-size:20px" routerLink="/parent">Search</a>
    </li>
    <li class="nav-item" style="background-color:red" >
      <a class="nav-link" style="color:black; font-size:20px" routerLink="/employee">Employee Form</a>
    </li>
    <li class="nav-item" style="background-color:pink" >
      <a class="nav-link" style="color:black; font-size:20px" routerLink="/parent">add to cart</a>
    </li>
    <li class="nav-item" style="background-color:orange" >
      <a class="nav-link" style="color:black; font-size:20px" routerLink="/data-show-table">React aproch</a>
    </li>
  </ul>
</nav>
<br>
<br>
<br>

