



<div class ="card" style="margin-left:25%; margin-right:25%; background-color:rgb(5, 11, 37); ">
  <div style="padding: 5%">
    <h1 style="color:white; text-shadow: 5px 5px black; ">Register Form</h1>
    <div class="card-body">
        <input  placeholder="Enter Your Name"   type="text" required/><br><br>
        <input  placeholder="Email" type="email" required/><br><br>
        <input  placeholder="Contact Number"  type="number" required/><br><br>
        <input  placeholder="Create New Password"  type="text" required/><br><br>
        <input  placeholder="Gender"  type="text" required/><br><br>
        <input   type="password" placeholder="Confirm Password"  required/><br>
        <br>
        <br>

      <button type="text" style="width:20%; margin-left:50%; padding:3%; box-shadow: 5px 5px black; background-color:green; color:white; font-size:20px;"><b>Register</b></button>
      <button type="text" style="width:20%;  padding:3%; margin-left:2%; box-shadow: 5px 5px black; background-color:green; color:white;  font-size:20px;"><b>Cancel</b></button>
    </div>
  </div>
</div>
